.game-tile {
  display: inline-block;

  width: var(--gameTileSize);
  height: var(--gameTileSize);

  border-radius: 0;
  border: 1px solid var(--white);
  outline: 0;
  margin: 0;
  padding: 0;

  background: radial-gradient(circle, var(--blue300) 0%, var(--blue700) 100%);
}

.game-tile svg {
  width: calc(var(--gameTileSize) - 5px);
  height: calc(var(--gameTileSize) - 5px);
}

.game-tile:active {
  background: radial-gradient(circle, var(--blue500) 0%, var(--blue700) 100%);
}