.game-tile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--gameTileSize);
  height: var(--gameTileSize);

  border-radius: 0;
  border: 2px solid var(--white);
  outline: 0;
  margin: 0;
  padding: 0;

  color: var(--blue700);
  font-weight: 700;

  background: radial-gradient(circle, var(--blue300) 0%, var(--blue700) 100%);
}

.active {
  border: 2px solid var(--red500);
}

.revealed {
  background: var(--blue300);
}

.exploded {
  background: var(--red500);
}

.game-tile svg {
  width: calc(var(--gameTileSize) - 5px);
  height: calc(var(--gameTileSize) - 5px);
}

.game-tile:active {
  background: radial-gradient(circle, var(--blue500) 0%, var(--blue700) 100%);
}