.app-menu {
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app-menu div {
  display: inherit;
  flex-direction: inherit;
  gap: 4px;
}

.app-menu h3 {
  text-align: center;
  margin: 0;
}

.app-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-menu ul li + li {
  margin-top: 4px;
}