<div class="app-menu">
  <h3>New Game</h3>

  <div>
    <label for="nameInput">Name</label>
    <input type="text" name="nameInput" id="nameInput">
  </div>

  <ul>
    <li>
      <input type="radio" name="difficulty" id="beginnerInput">
      <label for="beginnerInput">Beginner</label>
    </li>

    <li>
      <input type="radio" name="difficulty" id="intermediateInput">
      <label for="intermediateInput">Intermediate</label>
    </li>

    <li>
      <input type="radio" name="difficulty" id="advancedInput">
      <label for="advancedInput">Advanced</label>
    </li>
  </ul>

  <button id="createGameButton">Create</button>

  <div>
    <span>Sort by</span>

    <ul>
      <li>
        <input type="radio" name="sortBy" id="sortByNewest">
        <label for="beginnerInput">Newest</label>
      </li>

      <li>
        <input type="radio" name="sortBy" id="sortByOldest">
        <label for="intermediateInput">Oldest</label>
      </li>
    </ul>
  </div>
</div>