<div class="app-menu">
  <h3>New Game</h3>

  <label for="nameInput">Name</label>
  <input type="text" name="nameInput" id="nameInput">

  <div>
    <input type="radio" name="difficulty" id="beginnerInput">
    <label for="beginnerInput">Beginner</label>

    <input type="radio" name="difficulty" id="intermediateInput">
    <label for="intermediateInput">Intermediate</label>

    <input type="radio" name="difficulty" id="advancedInput">
    <label for="advancedInput">Advanced</label>
  </div>

  <button id="createGameButton">Create</button>
</div>