:host {
  width: min-content;
  height: min-content;
}

.game {
  width: min-content;
  height: min-content;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--blue500);
  padding: 8px;
}

.game .game-header {
  display: flex;
}

.game .game-tiles {
  display: grid;
}

.game .game-tiles-beginner {
  grid-template-columns: repeat(8, var(--gameTileSize));
  grid-template-rows: repeat(8, var(--gameTileSize));
}

.game .game-tiles-intermediate {
  grid-template-columns: repeat(16, var(--gameTileSize));
  grid-template-rows: repeat(16, var(--gameTileSize));
}

.game .game-tiles-advanced {
  grid-template-columns: repeat(30, var(--gameTileSize));
  grid-template-rows: repeat(16, var(--gameTileSize));
}